.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #FF6D00;
  color: white;
}

.logo {
  font-size: 28px;
  font-weight: bold;

}

.nav-buttons .btn {
  margin-left: 15px;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  background-color: #135ba3;
  border-radius: 5px;
  font-weight: bold;
  corner-block-end-shape:13px;
  

}

.nav-buttons .btn:hover {
  background-color: #FF8F00;
}